server:
  port: 8081
spring:
  application:
    name: item-service
  datasource:
    url: jdbc:mysql://124.65.155.6:14200/leyougou?useSSL=false&useUnicode=true&characterEncoding=utf-8
    username: root
    password: 1234567890
    hikari:
      maximum-pool-size: 30
      minimum-idle: 10
    driver-class-name: com.mysql.cj.jdbc.Driver
eureka:
  client:
    service-url:
      defaultZone: http://127.0.0.1:10086/eureka
  instance:
    lease-renewal-interval-in-seconds: 5 # 每隔5秒发送一次心跳
    lease-expiration-duration-in-seconds: 10 # 10秒不发送就过期
    prefer-ip-address: true
    ip-address: 127.0.0.1
    instance-id: ${spring.application.name}:${server.port}

    zuul:
      prefix: /api # 添加路由前缀
      retryable: true
      routes:
        item-service: /item/** # 将商品微服务映射到/item/**

